h1#titulo {

    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    flex: 0.2;
    flex-grow: 0.2;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}

header{

    background-color: antiquewhite;
    border: 3px solid brown;
    border-radius: 2px;

}

